*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    outline: none;
}

.drawing-canvas {
    background-color: #000000;
    transition: 2s;
    cursor: crosshair;
    touch-action: none;
}
.strokecolor{
	position: relative;
}

.drawingset{
	display: none;
    z-index: 3000;
	transition: 1s;
	position: absolute;
	top: 0;
	right: 0;
	flex-direction: column;
	align-items: flex-end;
}


.makegone{
    transform:  translate(300%, -200%);
}


:root {
	--yellow: #feb60a;
	--red: #ff0062;
	--blue: #00dbf9;
	--violet: #da00f7;
}
	body {
	overflow: "hidden";
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #1a1940;
  background-image: linear-gradient(180deg, rgba(0,0,0,0.15) 0%, rgba(0,153,212,0) calc(15% + 100px), rgba(0,99,138,0) calc(85% + 100px), rgba(0,0,0,0.15) 100%);
}

.crosshaircursor{
	cursor: crosshair;
}


div.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.yellow {
	background-color: var(--yellow);
}

.red {
	background-color: var(--red);
	animation-delay: 0.1s;
}

.blue {
	background-color: var(--blue);
	animation-delay: 0.5s;
}

.violet {
	background-color: var(--violet);
	animation-delay: 0.9s;
}
div.bounce {
	width: 3vw;
	height: 3vw;
	border-radius: 100%;
	margin: 2vw;
	background-image: linear-gradient(145deg, rgba(255,255,255,0.5) 0%, rgba(0,0,0,0) 100%);
	animation: bounce 1.5s 0.5s linear infinite;
}

@keyframes bounce {
	0%, 50%, 100% {
		transform: scale(1);
		filter: blur(0px);
	}
	25% {
		transform: scale(0.6);
		filter: blur(3px);
	}
	75% {
		filter: blur(3px);
		transform: scale(1.4);
	}
}

.LoadingTextContainer{
    right: 50%;
    left: 50%;
    text-align: center;
    color: white;
}



.ScoreBoard{
	height: 11vh;
	width: 25vw;
	display: none;
	position: absolute;
    transition: 1s;
	margin-left: auto;
	margin-right: auto;
	top: 0;
	border: 2px solid rgb(0, 0, 0);
	z-index: 100;
	background-color: #ffffff;
}

.makeGoneScoreBoard{
	transform: translate(0, -100%);
}

.ScoreContainer{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

#correctHitScore{
	font-size: 1.7vw;
}

#missedScore{
	font-size: 1.7vw;
}

#accuracyScore{
	font-size: 1.7vw;
}

.TimeLeft{
	height: 11vh;
	width: 12vh;
	position: absolute;
    transition: 1s;
	top: 0;
	left: 0;
	display: none;
	justify-content: center;
	align-items: center;
	border: 2px solid rgb(0, 0, 0);
	z-index: 100;
	background-color: #ffffff;
}


#timeLeftText{
	font-size: 1.7vw;
	font-weight: bold;
}


.controllerKeyBoard{
	position: absolute;
	z-index: 3;
	width: 90vw;
	bottom: 2vh;
	display: none;
	flex-direction: row;
	justify-content: space-between;
}

#KeyButton{
	height: 50px;
	width: 50px;
	user-select: none;
	opacity: 0.5;
	margin: 2px;
}



@media only screen and (max-width: 600px) {
	.drawing-canvas{
		margin-bottom: 20px;
	}

	.drawingset{
		display: none;
		z-index: 3000;
		transition: 1s;
		position: absolute;
		top: 0;
		right: 0;
		flex-direction: column;
		align-items: center;
		transform: translate(0, 100%);
	}

	
	.makegone{
		transform:  translate(300%, -200%);
	}

	.ScoreBoard{
		right: 0;
		height: 8vh;
		width: 40vw;
	}
	.ScoreContainer{
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		padding-left: 2vw;
	}
	.TimeLeft{
		height: 8vh;
		width: 8vh;
	}

	#correctHitScore{
		font-size: 3.5vw;
	}
	
	#missedScore{
		font-size: 3.5vw;
	}
	
	#accuracyScore{
		font-size: 3.5vw;
	}


	#timeLeftText{
		font-size: 6vw;
		font-weight: bold;
	}


  }

  


/*# sourceMappingURL=main.css.map*/